body {
  margin: 0 auto;
  padding: 0;

  width: 1000px;
  height: 500px;

  border: 5px solid red;
}

.title {
  text-align: center;

  font-size: 45px;
  font-weight: 700;
  font-family: Arial, sans-serif;

  text-transform: uppercase;
  text-decoration: underline;
}

button {
  display: block;

  width: 300px;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px 40px;

  font-size: 35px;
  line-height: 35px;

  border: 5px solid grey;
}